
.image-link {
    display: flex;
    justify-content: center;
    padding: 10% 0;
}

.image {
    width: 70%;
}

.links {
    color: #4c4949;
    text-decoration: none;
    /* align-items: center; */
}

/* .genre-images {
    height: 30px;
    width: 30px;
    filter: brightness(1);
} */


