@media (max-width: 600px) {
  .search-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .input{
    margin-top: -10px;
    margin-bottom: 10px;
    color: #303030;
    text-decoration: solid;
}
}


